*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Balsamiq Sans', cursive;
}

.painel {
    margin: 30px 30vw;
}

.painel-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.moves, .time {
    color: teal;
}

.cont-moves-text {
    margin: 0 20px;
}

.restart-button {
    font-size: 15px;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    background-color: teal;
    font-weight: 600;
    cursor: pointer;
    transition: .1s;
    color: white;
    align-self: flex-end;
}

.restart-button:focus { 
    outline: none; 
    
}

.restart-button:hover {
    background-color: rgb(29, 119, 119);
}


.container {
    margin: 10px 240px auto;
    display: flex;
    justify-content: center;
}

.board{
    display: grid;
    grid-template: repeat(4, 100px) / repeat(5, 100px);
    grid-gap: 10px;
}

.card-container {
    width: 100px;
    height: 100px;
    background-color: transparent;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #aaaaaa;
    /* border: 3px solid #ccc; */
    cursor: pointer;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
/*.card-container:hover .card {
    transform: rotateY(180deg);
}*/

.card.is-flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: dodgerblue;
}

.flip-card-back {
    /* background-color: blue; */
    transform: rotateY(180deg);
}

.flip-card-back img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

/* responsividade */
/* para largura de 0 a 900px*/
@media (max-width: 900px) {
    .painel {
        margin: 30px 10vw;
    }

    .painel-elements {
        font-size: 15px;
    }

    .restart-button {
        font-size: 10px;
        padding: 5px 10px;
    }

    .board {
        grid-template: repeat(4, 50px) / repeat(5, 50px);
    }

    .container {
        margin: 10px 20px auto;
    }

    .card-container {
        width: 50px;
        height: 50px;
    }

    .flip-card-back img{
        width: 50px;
        height: 50px;
    }

}