*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.painel {
    margin: 30px 500px 30px 450px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.cont-moves-text {
    margin: 0 20px;
}

.container {
    margin: 10px 240px auto;
    display: flex;
    justify-content: center;
}

.board{
    display: grid;
    grid-template: repeat(4, 100px) / repeat(5, 100px);
    grid-gap: 10px;
}

.card-container {
    width: 100px;
    height: 100px;
    background-color: transparent;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #aaaaaa;
    /* border: 3px solid #ccc; */
    cursor: pointer;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
/*.card-container:hover .card {
    transform: rotateY(180deg);
}*/

.card.is-flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: dodgerblue;
}

.flip-card-back {
    /* background-color: blue; */
    transform: rotateY(180deg);
}

.flip-card-back img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}